/* if modal is visible it will always fill the entire screen,
 standard display will be none and will only be displayed if needed for your large image.
the Z-index is what determines that it's all the way in the front */
#image-modal{
    display: none;
    height: 100vh; 
    width: 100vw; 
    position: fixed; 
    top: 0; 
    left: 0; 
    background-color: rgba(0,0,0,0.8); 
    z-index: 10000000;
    padding: 256px;
}

/* Made your gallery images smaller for ease of testing */
.gallery-image {
    height: 500px;
    width: auto;
}
